.labelMarker line {
    stroke: #808080;
}

.labelMarker path {
    stroke: #808080;
}

.labelMarker text {
    fill: #808080;
}

.minorMarker line {
    stroke: #808080;
}

.minorMarker path {
    stroke: #808080;
}

.minorMarker text {
    fill: #808080
}

svg {
    user-select: none;
}

.time-indicatior-line {
    position: absolute;
    width: 1px;
    top: 70px;
    left: 0px;
    height: 50px;
    background-color: rgb(45, 139, 235);
    z-index: 1;
}

body {
    overflow: hidden
}