.table-container {
    height: 100%;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead tr{
    flex: 1 1 auto;
    width: calc(100% - 1.45em);
    display: flex;
    table-layout: fixed;
}

table thead tr th:nth-child(1){
    color: red;
    flex-grow: 4
}
table thead tr th:nth-child(2){
    color: blue;
    flex-grow: 3
}
table thead tr th:nth-child(3){
    color: green;
    flex-grow: 2
}

table thead tr th:nth-child(4){
    color: pink;
    flex-grow: 1
}


table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}

table tbody tr {
    display: flex;
    width: 100%;
    table-layout: fixed;
}

table tbody tr td:nth-child(1){
    color: red;
    flex-grow: 4
}
table tbody tr td:nth-child(2){
    color: blue;
    flex-grow: 3
}
table tbody tr td:nth-child(3){
    color: green;
    flex-grow: 2
}

table tbody tr td:nth-child(4){
    color: pink;
    flex-grow: 1
}


/* decorations */
.table-container {
    border: 1px solid black;
    padding: 0.3em;
}
table {
    border: 1px solid lightgrey;
}
table td, table th {
    padding: 0.3em;
    border: 1px solid lightgrey;
    color: lightgrey;
}
table th {
    border: 1px solid grey;
}